/* Header Component */
.nav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #ffffff;
  z-index: 100;
}

.desktop-container {
  flex: 1 1 0%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
}

.header-logo-container h1 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
}

.search-container {
  border: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 28px;
  padding: 0px 10px;
}

.search-container input {
  border: none;
  outline: none;
  color: #dbdbdb;
  text-decoration: none;
}

.search-icon {
  width: 10px;
  background-color: transparent;
  outline: none;
  border: none;
}

.logout-button {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  background: #4094ef;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
}

.menu-icon {
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.desktop-ul-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.desktop-ul-container li {
  cursor: pointer;
  color: #222222;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #262626;
  text-align: left;
}

.desktop-ul-container li:hover {
  color: #8254e5;
}

.seach-mobile-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .seach-mobile-btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .search-container {
    display: none;
  }

  .menu-icon:hover {
    color: #147efb;
    transition: all 0.3s;
  }

  .desktop-ul-container {
    position: absolute;
    left: 0px;
    top: 50px;
    margin: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
    display: none;
  }

  .header-logo-container h1 {
    font-size: 14px;
  }
.logo{
    width: 40px;
}
  .desktop-ul-container.open {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
