/* Header Component */
.navbar {
  display: flex;
  justify-content: center;

  background-color: #ffffff;
  border-bottom: 1px solid #c6c6c8;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
}
.darkMode {
  color: #ffffff;
  background-color: #303030;
}
.nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-container {
  display: flex;
  margin-left: 24px;
  align-items: center;
}

.logo {
  width: 55px;
  height: 28px;
}

.header-logo-container h1 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-left: 8px;
}
.themeBtn {
  background-color: transparent;
  outline: none;

  
  border: none;
  cursor: pointer;
}

.search-container {
  border: 1px solid #dbdbdb;
  width: 214px;
  height: 28px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  display: none;
}

.search-container input {
  border: none;
  flex: 1;
  outline: none;
  color: #dbdbdb;
  width: auto;
  text-decoration: none;
}

.search-icon {
  background-color: #dbdbdb;
  border: 0px;
  padding: 0px;
  margin-right: 0px;
  margin-left: 6px;
  width: 40px;
  height: 27px;
  cursor: pointer;
}

.nav-ul-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.nav-ul-container li {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  color: #262626;
}
.close {
  border: none;
  outline: none;
  background-color: transparent;
  color: #262626;
}

.logout-button {
  padding: 7px 25px;
  border-radius: 4px;
  background: #4094ef;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;
}

.menu-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 3px;
  color: #262626;
}

.nav-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #262626;
  text-align: left;
}
.mob-search-container {
  width: 80%;
  height: 40px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #dbdbdb;
  margin-left: 10px;
}

.mob-search-container input {
  width: 100%;
  border: none;
  outline: none;
}
.mob-search-icon {
  width: 50px;
  height: 40px;
  background-color: #dbdbdb;
  color: #989898;
  margin-right: 0px;
  outline: none;
  border: none;
}
.desktop {
  display: none;
}
.mobile-search-btn {
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 64px;
  }
  .nav-container {
    margin: 0px 10%;
  }
  .mobile-search-btn {
    display: none;
  }
  .mobile {
    display: none;
  }
  .nav-ul-container {
    display: flex;
    max-width: 500px;
    gap: 20px;
    margin-right: 10px;
  }
  .menu-icon {
    display: none;
  }
  .search-container {
    display: block;
  }
  .mob-search-container {
    display: none;
  }
  .nav-container {
    flex-direction: row;
  }
}
